.banner{
    width:100%;
    height: auto;
    margin:0;
    
}
.img{
    display:flex;
    justify-content: space-between;

}
.image{
    margin-top:10;
    width:25%;
    height:250px;
}
.frame{
    width:50%;
    height:400px;
    margin-right: 30px;
}

