.mainBanner{
    width:28%;
    height:auto;
    border:1px solid black;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 20px 0;
    margin-left: 10px;
}
.main11{
    font-size: 32px;
    font-weight: 700;
    margin-top:0;
    margin-bottom: 10px;
    margin-left:10px;
    
}
.main12{
    font-size: 18px;
    margin:0;
    margin-bottom:20px;
    margin-left:10px;


}
.main2Banner{
    width:30%;
    height:auto;
    /* border:1px solid black; */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 20px 0;
}
.btn1, .btn2, .btn3, .btn4, .btn5{
    width:70px;
    height:50px;
    background-color: transparent;
    border: 2px solid black; /* 배경 대신 테두리를 줍니다 */
    /* padding: 15px ; */
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left:5px;
}
