.Home-bg-color {
    background: linear-gradient(135deg, #4a00e0 0%, #8e2de2 100%);
    display: flex;
    justify-content: center;
}
.Home-title{
    color:white;
    margin-top: 150px;
    
}
.Home-title h1{
    font-size: 65px;
    font-weight: bold;
}